{% extends 'base.html' %}

{% block content %}
    <div class="main-content">
        <section class="intro">
            <h1>{{ title }}<br>{{ title_2 }}</h1>
            <p>{{ body }}</p>
        </section>

        <div class="separator"></div>

        <!-- <section class="project">
            <h2 class="project-title">Clubhouse</h2>
            <div class="project-image">
                <img src="https://via.placeholder.com/500x600" alt="Clubhouse app interface">
            </div>
        </section> -->
    </div>
{% endblock %}